/*handheld styles for elearning matrix*/
/*author: penworks.net 2013*/


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (min-width: 480px) {



#wrapper {
    width:760px;
    margin:0 auto; 
    overflow: hidden;
    padding-top: 2px;
    min-height: 100%;
    background: url(../images/bak-e0e0e0.png) repeat;
}

#page .page-body {
     min-height: 50px;
}

}

@media screen and (max-width: 600px) {
   .footer-holder {
      padding: 0px 0px 0px 2px;
}
}

@media screen and (min-width: 768px) {

#wrapper {
    width:1000px;
    margin:0 auto; 
    overflow: hidden;
    padding-top: 2px;
    min-height: 100%;
    background: url(../images/bak-e0e0e0.png) repeat;
}

#page .page-body {
     min-height: 80px;
}

}

@media screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */



#wrapper {
    width:1000px;
    margin:0 auto; 
    overflow: hidden;
    padding-top: 2px;
    min-height: 100%;
    background: url(../images/bak-e0e0e0.png) repeat;
}

#page .page-body {
     min-height: 95px;
}

}

@media screen and (min-width: 1600px) {

/* ===============
    Maximal Width
   =============== */

#wrapper {
    width:1000px;
    margin:0 auto; 
    overflow: hidden;
    padding-top: 2px;
    min-height: 100%;
    background: url(../images/bak-e0e0e0.png) repeat;
}

#page .page-body {
     min-height: 330px;
}

   .footer-holder {
      padding: 0px 0px 0px 0px;
}

}

@media screen and (min-height: 1000px) {

/* ===============
    Maximal Width
   =============== */

#wrapper {
    width:1000px;
    margin:0 auto; 
    overflow: hidden;
    padding-top: 2px;
    min-height: 100%;
    background: url(../images/bak-e0e0e0.png) repeat;
}

#page .page-body {
     min-height: 330px;
}

   .footer-holder {
      padding: 0px 0px 0px 0px;
}

}


