* {
   margin: 0;   
}

html, body {
     height: 100%;
}

html {    overflow: scroll;}

body {  
    background: #eee;
    margin: 0;
    padding: 0;
    font-size: 1.0em;
    color:#444444;
    /*font: 1em Georgia, serif;*/
    font-family: tahoma, /*trebuchet MS,*/ helvetica neue, arial, sans-serif;

}
/*hacks for IE6 centering bug*/
* html body {text-align: center; height: 100%;}

/* Fix CSS styles for IE6 for bgstretcher background*/
* html {
background-image: url(../images/trans.gif);
background-repeat: no-repeat;
background-attachment: fixed;
background-color: none;
}
* html .bgstretcher {
position: absolute !important;
top: expression(documentElement.scrollTop+body.scrollTop + “px”);
left: 0;
}

 #skin {
  /*this is used for any 'in case' situations, and centers everything nicely*/  
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    border: 3px blue solid;
 }

#wrapper {
    width:1000px;
    /*width:auto;*/
    margin:0 auto -64px; 
    /*border:1px dotted red;*/
    overflow: hidden;
    min-height: 100%;
    height: 100%;
    height: auto !important;
   /* background: url("../images/rails3.png") repeat-y;*/
}

/* IE6 wrapper hack*/
* html #wrapper {
 text-align: left;
 padding-left: 30px;
 height: 100%;
 /*background: url("img/../images/rails2.png") repeat-y;*/
}

/* wrapper without bak image that creates column backgroundi n main site */
#wrapper_1 {
    width:1000px;
 /*   position: relative;
    top: 8px;*/
    /*width:auto;*/
    margin:0px auto -64px; 
    /*border:1px dotted red;*/
    overflow: hidden;
    min-height: 100%;
    height: 100%;
    height: auto !important;
   /* background: url("../images/rails3.png") repeat-y;
    -moz-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 0px 10px rgba(0,0,0,0.2);*/
}

#infogrid_holder {
    /*width:960px;*/
    width:auto;
    padding-left: 45px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    overflow: hidden;
    background: #FFEEEB;
    opacity:0.8;filter:alpha(opacity=80);
    -moz-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
}

/* IE6 wrapper_1 hack*/
* html #wrapper_1 {
    text-align: left;
    padding-left: 30px;
    height: 100%;
    height: auto !important;
    background: #eee url("") repeat-y;
    opacity:0.8;filter:alpha(opacity=80);
}


/*top_header is used to place the homepageimage*/
#top_header {
    height: auto;
    width:auto;
    text-align: left;
    padding: 8px 10px 8px 10px;
    margin: 0 11px 0px 13px;
    font-size: .8em;
    font-style: italic;
    font-weight: 600;
    color: #E7E0D8;
    /*border: 1px dotted #607282;*/
    background:  #A6A1A1;
    /*opacity:0.8;filter:alpha(opacity=80);*/
    -moz-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
}

/*hack for ie6*/
* html #top_header {
    height: 190px;
    width:850px;
    background:  #E1D8D8;
}

#top_header_holder {
    height: auto;
    width:auto;
    padding: 2px 5px 2px 5px;
    margin: 0 0 0px 0px;
    border: 1px dotted #607282;
    -moz-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    z-index: 3000;
}


/*top_menu */
#top_menu {
    background: #C9D5BD;
    margin:0 0px 5px 0px; 
    height: 25px;
    max-height:35px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    /*padding-right: 50px;*/
    opacity:0.8;filter:alpha(opacity=80);
    -moz-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    z-index: 1;
}
/*#top_menu ul {
    float:left;
    padding: 0 20% 0 inherit;
}*/
#top_menu ul li {
    display:inline;
    font-size: 90%;
    list-style: square;
    font-family: trebuchet MS, helvetica neue, arial, sans-serif;
    font-weight: 600;
}

#top_header a:link {
	color: #D9D5CD;
	text-decoration: none;
}
#top_header a:visited {
	color: #DEBBBB;
	text-decoration: none;
}
#top_header a:hover {
	color: #C6BF7B;
	text-decoration:underline;
}

#top_menu a:link {
	color: #8E7C69;
	text-decoration: none;
}
#top_menu a:visited {
	color: #5C4D4D;
	text-decoration: none;
}
#top_menu a:hover {
	color: #6E98A4;
	text-decoration:underline;
}



/*index interface view more link styles*/
.view_more {
	text-transform:uppercase;
	font-size: inherit;
	font-weight: 700; 
	padding: 5px;
	margin: 3px auto;
	}
.view_more a:link {
	color: #EFFFAD;
	text-decoration: none;
}
.view_more a:visited {
	color: #EED26D;
	text-decoration: none;
}
.view_more a:hover {
	color: #F4FD2A
	text-decoration: underline;
}

/*all main pages styles*/

#main_content {
    float:left;
    /*width: 650px;*/
    width: 690px;
    margin: 40px 2px 70px 2px;
    background:  url("") repeat;
    overflow: hidden;	  
    font-size: 90%;
    padding:0px 5px 3px 10px;
    min-height: 100%;
    height: 100%;
    /*border:1px dotted blue;*/
}

#main_content h2{	
    float:left;
    /*width: 635px;*/
    width: 670px;
    height: 20px;
    color: #7D7875;
    font-weight: 600;
    font-size: inherit;
    background: #EBECE4;
    -moz-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    margin: 2px 0px 5px 0px;
    padding:3px 0px 3px 20px;
}

#main_content h3{	
    float:left;
    /*width: 635px;*/
    width: 670px;
    height: 18px;
    color: #7D7875;
    font-weight: 600;
    font-size: 95%;
    background: #CDD5BC;
    -moz-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    margin: 2px 0px 5px 0px;
    padding:3px 0px 3px 20px;
}

.intro {
    font-size: 0.9em;
    color: inherit;
    margin: 10px auto;
    padding:10px;
}

.cat-summary {
    background: #ECF1EF url("") no-repeat;
    /*width: 635px;*/
    width: auto;
    padding: 5px 5px 5px 5px;
    margin: 0 0 10px 0;
    overflow: hidden;
    font-size: 90%;
    -moz-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
}

.cat-sum-small {
    background: #ECF1EF url("") no-repeat;
    /*width: 460px;*/
    width: 530px;
    padding: 10px 10px 10px 10px;
    margin: 20px 5px 10px 5px;
    overflow: hidden;
    font-size: 90%;
    -moz-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    float:right;
}

.category_image_sm {
    width: 128px;
    height: 128px;
}

.category_image_th {
    width: 70px;
    height: 70px;
    padding: 0 10px 10px 10px;
    margin-top: -30px;
    clear: both;
    border: hidden !important;
    float:right;
}

  
#entry {
    background: #EBECE4 url("") no-repeat;
    /*width: 635px;*/
    width: auto;
    padding: 5px 5px 5px 5px;
    margin: 0 0 10px 0;
    overflow: hidden;
    font-size: 90%;
    -moz-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
}

#entry h3{
    float:left;
    /*width: 635px;*/
    width: 665px;
    height: 15px;
    color: #7D7875;
    font-weight: 600;
    font-size: 90%;
    background: #F0ECCF;
    border-bottom: 2px solid #ABB3AC;
    /*border-right: 20px solid #ABB3AC;*/
    margin: 2px 0px 5px 0px;
    padding:3px 0px 3px 25px;
}

#entry h4{
    color: #C67072;
    font-weight: 600;
    font-size: 95%;
    font-variant:small-caps;
}

#entry p {
    font-size: 90%;
    color: #496C73;
    padding: 5px 10px 5px 10px;
    margin: 10px auto;
    text-align: left;
    
}
#entry img {
    border: 0px solid #cccccc;
    padding: 4px;
    float:right;
}

#entry a:link {
	color: #D96C42;
	text-decoration: none;
}
#entry a:visited {
	color: #A53C46;
	text-decoration: none;
}
#entry a:hover {
	color: #618556;
	text-decoration:underline;
}

#entry hr {  
    width: 100%;
    /*color: #cccccc;
    size: 1px;*/
    border: 1px dotted #cccccc;
}

#entry .list_items {
    width: 650px;
    background: #E6E1D3;
    padding: 5px 5px 5px 5px;
    margin: 0 0 10px 10px;
    -moz-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
}

#entry .list_items ul li {
    font-size: 90%;
    list-style: square;
    font-family: trebuchet MS, helvetica neue, arial, sans-serif;
    font-weight: 600;
    color: #B42955;
}

#entry .list_items h4 {
    margin-bottom: 5px;
    font-size: 120%;
    font-variant: small-caps;
    font-weight: 700;
    color: #B42955;
    background: none;
 }

.entry_browse_list {
    list-style: none;
}

.tag-footer, .level, .cat-detail {
    font-weight:normal;
    padding: 5px;
    margin: 5px auto;
    font-style: italic;
    clear:left;
}
.paginate {
    width: auto;
    font-size: 80%;
    font-weight: 700;
    text-transform: uppercase;
    color: #9C2D7A;
    padding: 10px;
    margin: 20px 0 0 0;
    background: #C4D1CD;
    -moz-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
}

.pub_date {
    font-size: 60%;
    font-weight: 500;
    color: #9C2D7A;
    margin: 5px auto;
}

#panel_content {
    background: #E1E1E1 url("") no-repeat;
    /*width: 615px;*/
    width: 650px;
    padding: 5px 5px 5px 5px;
    margin: 0 0 10px 10px;
    overflow: hidden;
    -moz-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
}

#panel_content img {
    float:right;
    padding: inherit;
    margin: 4px auto;
}
#panel_content embed, object {
min-width: 350px;
width: 350px;
max-width: 350px !important;
height:250px;
min-height:250px;
max-height:250px;
float:right;
border: 0px solid !important;
}

#panel_content div.prezi-player{
min-width: 350px !important;
max-width: 350px !important;
overflow:hidden;
float:right;
fit-position: right;
}

#panel_content .embed-tabbed {
overflow:hidden;
}

#panel_content .embed-tabbed embed, object{
border: 0px solid !important;
min-width: 350px;
min-height:250px;
}

#panel_content .embed-tabbed .prezi-player{
border: 0px solid !important;
overflow:hidden;
float:right;
fit-position: right;
min-width: 350px !important;
max-width: 350px !important;
min-height: 250px !important;
max-height: 250px !important;
}

#panel_content .embed-tabbed .prezi-player-links {
    display:none;
}

#panel_content .embed-tabbed iframe{
overflow:hidden;
display:block;
}

#panel_content .embed-tabbed  div {
width: 280px !important;
min-width: 280px !important;
max-width: 280px !important;
height: 20px !important;
min-height: 20px !important;
max-height: 20px !important;
border: none;
}
 
.tag-entry {
    background: #EEF3E2 url("") no-repeat;
    /*width: 290px; */
    width: 315px; 
    padding: 5px 5px 5px 5px;
    margin: 10px 20px 10px 0px;
    overflow: hidden;
    font-size:90%;
    color: #89301C;
    float:left;
    -moz-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
}

#main_content .tag-entry h3{	
    float:left;
    width: 635px;
    height: 18px;
    color: #898E84;
    font-weight: 600;
    font-size: 95%;
    background: #DDE3D3;
    border-bottom: 2px solid #ABB3AC;
    /*border-right: 2px solid #ABB3AC;*/
    margin: 2px 0px 5px 0px;
    padding:3px 0px 3px 20px;
}

.tag-entry hr {
    border: 1px dotted #94446B;
    margin: 5px auto;
    width: 100%;
}

.tag-entry a:link {
	color: #D92E45;
	text-decoration: none;
}
.tag-entry a:visited {
	color: #772A31;
	text-decoration: none;
}
.tag-entry a:hover {
	color: #618556;
	text-decoration:underline;
}

 /*right hand column*/	 
 
#right_column {
    float: right;
    width: 250px;
    margin: 40px 2px 60px 2px;
    padding: 0px 20px 10px 5px;
    overflow:hidden;
    text-align: left;
    /*border:1px dotted green;*/
}
#right_column_fixed {
    float: right;
    width: 230px;
    position:fixed;
    min-height: 100%;
    height: 100%;
    height: auto !important;
}

#right_column h2 {
   color: #EEF3E2;
   font-weight: 600;
   width: 100%;
   height: 15px;
   font-size: 90%;
   background: #D6E0D6;
   border-bottom: 2px solid #ABB3AC;
   margin: 2px 0px 5px 10px;
   padding:3px 10px 3px 10px;
    
}

#right_column img {
    /*border: 1px solid #dddddd;*/
    margin-left: -4px;
    border: none;
}

#search {
    font-weight: 500;
    font-size: smaller;
}
#search input {
        color: #999;
        font-style: italic;
        margin: 2px 5px 2px 10px;
}

#search .btn1 {
    margin: 5px 5px 5px 5px;
}

#right_panel {
/*    border:1px dashed #697481;*/
    float:right;
    background: #EEF3E2 url("") no-repeat;
    width: 248px;
    padding: 5px 5px 5px 5px;
    margin: 10px -10px 10px 15px;
    position:relative;
    display: block;
    -moz-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 0px 10px rgba(0,0,0,0.2);

}

#right_panel h3{
   color: #5D81A1;
   font-weight: 600;
   font-size: 1.1em;
   font-style: italic;
}

#right_panel h4{
   color: #A12954;
   font-weight: 600;
   font-size: .9em;
   font-style: italic;
}

#right_panel p {
    font-size:0.8em;
    color: #B03B22;
   font-style: italic;
}
#right_panel img {
  padding: 4px;  
}

#right_panel a:link {
	color: #A3497C;
	text-decoration: none;
}
#right_panel a:visited {
	color: #9B3E33;
	text-decoration: none;
}
#right_panel a:hover {
	color: #4FC63C;
	text-decoration:underline;
}

#rightmenu {
  padding: 3px 30px 3px 10px;
  margin: 20px 0 20px 0;
  word-spacing: 2px;
  float:right;
  text-align:right;
    
}

#rightmenu ul li {
  list-style-type: none;
  border-bottom: 1px dashed #624431;
  line-height: 1.6em;
    
}

#rightmenu a:link {
	color: #8E7C69;
	text-decoration: none;
}
#rightmenu a:visited {
	color: #5C4D4D;
	text-decoration: none;
}
#rightmenu a:hover {
	color: #6E98A4;
	text-decoration:underline;
}

#footer {
    /*border-top:2px solid #CD96CD;
    border-bottom:2px solid #9F9CB6;*/
    width: 100%;
    font-size: x-small;
    text-align: center;
    padding: 5px 0 0 0;
    margin: 0 0 0 0;
    background: #C9D5BD;
    z-index: 20;
    height: 60px;
    opacity:0.8;filter:alpha(opacity=80);
    /*bottom: 0;
    position: fixed;*/
}

#footer .footer_menu{
    margin: 4px 0px 5px 0px;
}

#footer .footer_menu ul li{
    display: inline;
    list-style: none;
    font-size:small;
    padding: 2px;
}

.footer_menu a:link {
	color: #8E7C69;
	text-decoration: none;
}
.footer_menu a:visited {
	color: #5C4D4D;
	text-decoration: none;
}
.footer_menu a:hover {
	color: #6E98A4;
	text-decoration:underline;
}


/*#footer,{
height: 64px;
}*/

.push {
height: 64px;
/*clear: both;*/
}



